@charset "utf-8";

@font-face {
    font-family: 'Fira Sans Book';
    src: url('fonts/FiraSans-Book.woff2') format('woff2'),
        url('fonts/FiraSans-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Book';
    src: url('fonts/FiraSans-BookItalic.woff2') format('woff2'),
        url('fonts/FiraSans-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-ExtraBold.woff2') format('woff2'),
        url('fonts/FiraSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
html, body {
	background-color: transparent;
	margin:0; 
	overflow-x: hidden;		
	overflow-y: hidden;
	height: 100%;
}

a {
	color:#67CE00; 
}

.mess {	
	background: transparent;
	margin: 10px;
}

#chat-wrapper {
   position: relative;
   overflow: auto;
   height: 100%;
}
#content, #chat-wrapper {
   overflow: hidden;
   box-sizing: border-box;
}

#nick-block {
	background-color: rgba(0, 0, 0, 0.9);
	padding: 10px;
	color: #EFCC1C;
	text-align: left;
	font-size: 16px;
	font-family: 'Fira Sans';
	font-weight: bold;
}

#nick-block span {
	float: right;
}

.textblock {
	background: rgba(17, 17, 17, 0.9) url(img/dots.png) no-repeat top right;
	padding: 10px;
	color: #fff;
	text-shadow:0px 1px 2px #0E1021;
	font-size: 14px;
	font-family: 'Fira Sans Book';
}